
<div id="photo">
<header>
<div class="navbar">
<div class="navbar-header">
<a class="navbar-brand" href="#">Aapla Ghar</a>
</div>
<div class="navbar">
  <a href="/orphanagerequest">Appointments</a>
  <a href="/orphanagerequest">Events</a>
  <a href="/orphanagerequest">Donation</a>

  <a href="/orphanageLogin">Logout</a>
    </div>
    </div>
</header>

<div >
  <div id="b">
    <div class="container h-20  justify-content-center">
      <div class="jumbotron">
        <h6 class="display-2"> Smile without a reason like a baby. If you smile because of a reason,
           then be warned because that reason can get lost at any moment.</h6>
      </div>
  </div>
  </div>
</div>


</div>
