<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <div class="navbar-header">
    <a class="navbar-brand"><img src="../../assets/charity.jfif" height="2%"></a>
</div>  -->
  <a class="navbar-brand" href="#">Aapla Ghar</a>
  <ul><a class="nav-link text-light "  onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Contact Us</a></ul>
        <ul><a class="nav-link text-light" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">About Us</a></ul>
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <ul class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign Up
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/donerSignup">Doner</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/orphanageSignup">Orphanage</a>
          </div>
        </ul> 
      </form>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <ul class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/donerLogin">Doner</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/orphanageLogin">Orphanage</a>
          </div>
        </ul>
      </form>
    </div>
  </nav>
  <div>
    <img src="../../assets/smile.jpeg" width="100%">
  </div>
  <!---------------Contact Us------------------>
<div id="id01" class="modal">
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <h1>Contact us</h1>
      <div class="row">
          <div class="col-sm-4">
              Mobile No<br>+91 8806480166 </div>
          <div class="col-sm-4">
              Email address <br>akashdhopte80@gmail.com</div>
          <div class="col-sm-4">
              Office Address <br>C-DAC Juhu</div>
        </div>
    </div>
  </form>
</div>

<!------------------About Us----------------->
<div id="id02" class="modal">
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <h1>About us</h1>
      <h5> 
          •	We know the very best thing for a child is to be part of a loving people—it’s where they thrive. <br>
          •	That’s why everything we do is designed to accomplish just that.<br> 
          •	Our goal is a loving people and the end of institutionalized care for every child.<br> 
          •	We believe that, together, we can change the way we care for children and help to get them into stable, loving, nurturing environments.<br>  
          •	We believe in them, in you and in Miracles.<br>  
          •	We believe in a world that listens closely to children and gives them a voice.<br> 
          •	These children deserve the very best. A way out of their past of abandonment and a way forward into their bright future.<br>  
          •	We believe in partnerships, and with generous gifts from people like you, we can make their dream of living with a family a reality.<br>  
      </h5>
      <h3>Sound impossible? Thankfully, that’s just an opinion.</h3>
    </div>
  </form>
</div>